@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #294D61;
    
}

.profcard {
    display: flex;
    flex-direction: column;  
    align-items: center;
    position: relative;
    max-width: 370px;
    width: 100%;
    background: rgba(255, 255, 255, 0.994);
    border-radius: 25px;
    padding: 25px;
    overflow: hidden;
    box-shadow: 0 6px 12px 0 rgba(28, 29, 8, 0.2);
}

.image{
    position: relative;
    height: 170px;
    width: 170px;
    border-radius: 80%;
    background-color: #294D61;
    padding: 3px;
    margin-bottom: 10px; 
}

.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ffffff;
}

.profcard .content {
    display: flex;
    flex-direction: column;  
    align-items: center;
    color: #294D61;
}
.content .name {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px rgb(154, 195, 218); 
    
}
.content .job {
    font-size: 15px;
    font-weight: bold;
    text-shadow: 1px 1px rgb(154, 195, 218);
    
}

.profcard .social {
    bottom: 10px;
    display: flex;
    margin-top: 15px;
}

.social .links{
    height: 34px;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    width: 34px;
    font-size: 20px;
    margin: 0 8px;
    text-decoration: none;
    background-color: #b13030;
}

.social .links1{
    height: 34px;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: black;
    width: 34px;
    font-size: 35px;
    margin: 0 8px;
    text-decoration: none;
    background-color: #b13030;
    margin-bottom: 2 rem;

}

.social .links2{
    height: 34px;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #75420e;
    width: 34px;
    font-size: 30px;
    margin: 0 8px;
    text-decoration: none;
    background-color: #e9e5cd;
    margin-bottom: 2 rem;

}


