@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

.image{
    position: relative;
    height: 150px;
    width: 150px;
}

.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}